# Platform you're developing in, can be either Windows or Linux. Put Windows even if you're using WSL.
DEV_PLATFORM=Linux

# Command to run dev binary, see bin/dev for more info on how it works
DEV_RUN_CMD=./.dev.x86_64

