# Platform you're developing in, can be either Windows or Linux. Put Windows even if you're using WSL.
DEV_PLATFORM=Linux

# Run command options to run dev binary, see bin/dev for more info on how it works
DEV_RUN_OPTS=./

